# This is a basic workflow that is manually triggered

name: build and push image

on:
  workflow_call:
    outputs:
      release_tag:
        description: "Release tag"
        value: ${{ jobs.build-and-push-image.outputs.release_tag }}
  push:
    branches: [ "main", "development" ]
#    tags:
#      - '*'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.release_tag.outputs.release_tag }}

    steps:

#    - name: Setup insecure registry
#      shell: bash
#      run: |
#        echo '{"insecure-registries" : ["${{ secrets.DOCKER_REGISTRY_DEV }}"]}' | sudo tee /etc/docker/daemon.json
#
#    - name: Restart docker
#      shell: bash
#      run: sudo systemctl restart docker

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Get release version
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Get hash commit
      run: echo "GIT_HASH=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV

    - name: Release tag
      run: echo "RELEASE_TAG=${{ env.RELEASE_VERSION }}-${{ env.GIT_HASH }}" >> $GITHUB_ENV

    - id: release_tag
      run: echo "::set-output name=release_tag::${{ env.RELEASE_TAG }}"

    - name: Build & push Docker image
      uses: mr-smithers-excellent/docker-build-push@v3
      with:
        image: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}
        tag: ${{ env.RELEASE_TAG }}
        registry: ${{ secrets.DOCKER_REGISTRY }}
        dockerfile: Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
